{% extends "partials/layout_landing.twig" %}
{% block style %}
    <style>
        .modal-content {
            width: 100%;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- JUMBOTRON -->
    <div id="jumbotron-landing5" class="jumbotron">
        <div class="container">
            <div class="row">

            </div>
            <div class="row" style="padding-bottom: 5%;padding-top: 5%;">
                <div class="col-12 text-center">
                    <!-- TITLE -->
                    <img class="" id="logo_landing" src="{{ 'media/4adwise/4ADWISE.svg'|public }}">
                    <h4 class=""><strong>Servicio de consultoria profesional en linea.</strong></h4>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN JUMBOTRON -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                <h1><strong>Centro de ayuda</strong></h1>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h3><strong>¿Qué significa 4adwise?</strong></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h5>Se puede traducir como “Para Asesorarlo inteligentemente”.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h3><strong>¿Cuál es la antigüedad de su empresa?</strong></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h5>Como sociedad legal nos constituimos desde 2010 operando en forma tradicional y a raíz de 2020 prestamos nuestros servicios en línea o por internet.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h3><strong>¿Cuáles giros o sectores de negocios atienden? </strong></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h5>Comercios, Industrias, Servicios y un poco actividades primarias como Agronegocios, Acuacultura y Minería.</h5>
            </div>
        </div><div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h3><strong>¿Tamaño de empresas que atienden?</strong></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h5>Todas las pequeñas y medianas empresas de un tamaño de 1 empleado hasta 150 empleados.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h3><strong>¿En que consisten los servicios de su empresa?</strong></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h5>Realizamos diagnósticos integrales y específicos en las diversas áreas de las empresas y generamos soluciones. Les proporcionamos herramientas Gerenciales de clase mundial para que las empresas atendidas puedan solucionar sus problemas y generar crecimiento en todas sus áreas. Aparte los acompañamos en la implementación de los planes de acción.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h3><strong>¿Cuánto duran las asesorías o consultorías?</strong></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h5>Tienen una duración de 10 semanas</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h3><strong>¿Cuánto cuesta el servicio que prestan?</strong></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h5>Desde $ 6,000 pesos mexicanos hasta $ 12,000 pesos mexicanos más IVA. (equivalen de US $ 300 hasta $ 600 Dólares americanos).</h5>
            </div>
        </div><div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h3><strong>¿Cómo me puedo contactar?</strong></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h5>Por internet a: contacto@4adwise.com o bien por teléfono o mensaje WhatsApp +52 662 288 7019</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h3><strong>¿Cómo se lleva a cabo el servicio de asesoría Online?</strong></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h5>Mediante instrumentos o herramientas de negocios en la pagina de 4adwise.com y mediante la atención de un experto vía telefónica o video llamada en forma semanal. Recomiendo comunicarse por correo electrónico a contacto@4adwise.com o Whatsapp +52 662 288 7019</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h3><strong>¿Sus asesores son expertos y competentes?</strong></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h5>Afirmativo. Son personas con Maestrías y Doctorados en las principales universidades de México y Estados Unidos. Cuentas con experiencia en puestos Directivos o bien son propietarios de empresas. Están Certificados como Consultores, Asesores, Coach o Advisors en varios países.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h3><strong>¿Me pueden enviar una lista de empresas que han atendido?</strong></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h5>Pueden encontrar nuestros clientes más destacados en el portal <a href="https://4adwise.com/clients/" target="_blank">https://4adwise.com/clients/</a>.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h3><strong>¿Cuánto tardan en obtener resultados con sus servicios?</strong></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h5>Normalmente nuestros servicios tardan 10 semanas para el Informe final, sin embargo, los resultados se comienzan a obtener antes siempre y cuando la empresa cliente realice los compromisos, realice las actividades que se establecen en los planes de acción.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h3><strong>¿Pueden atender empresas en cualquier parte del mundo? </strong></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h5>Con mucho gusto siempre y cuando se registren en el portal http://4adwise.com y verificar sus datos.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h3><strong>¿Cuánto tardan en iniciar sus servicios una vez registrados?</strong></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h5>A más tardar en 3 días hábiles después de su registro y pago en la modalidad que escojan.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h3><strong>¿Si necesito facturas con validez fiscal, ustedes me pueden facturar?</strong></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h5>Por supuesto.</h5>
            </div>
        </div><div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h3><strong>¿Cómo puedo hacer el pago por sus servicios?</strong></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h5>Puede hacerlo mediante Pay Pal, tarjetas de credito o debito.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h3><strong>¿Cómo se llevan a cabo los servicios?</strong></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h5>Nuestros servicios se llevan a cabo en forma virtual, a distancia, Online y con un componente virtual mediante video conferencias por las mejores y diversas plataformas existentes</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h3><strong>¿Pueden apoyar en aumentar las ventas a mi empresa?</strong></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h5>En caso de requerir algún apoyo en mercadotecnia y ventas, se podrá brindar asesoría en marketing para que la empresa en caso de que cumpla con los requisitos necesarios, ayudarlos a que resuelvan sus necesidades.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h3><strong>¿Pueden apoyar a mejorar los procesos de mi empresa?</strong></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h5>En caso de requerir algún apoyo para mejorar sus procesos productivos o de prestación de servicios, se podrá brindar asesoría especializada para que la empresa en caso de que cumpla con los requisitos ayudarlos a que consigan resolver sus problemas en los procesos.</h5>
            </div>
        </div><div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h3><strong>¿En que consisten las herramientas gerenciales que puedo obtener en caso de decidir ser su cliente?</strong></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h5>Son herramientas para diagnóstico de problemas en las áreas funcionales de su empresa, el diseño de estrategias y planes de negocios, planes de acción, protocolos de procesos, protocolos familiares, etc.</h5>
            </div>
        </div><div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h3><strong>¿Cuántas empresas han atendido?</strong></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h5>Más de 500 empresas Micro, Pequeñas y Medianas desde 1 empleado hasta 250 empleados.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h3><strong>¿Existe algún límite en tamaño para poder recibir sus servicios?</strong></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h5>Así es. Hasta 150 empleados o $ 250 millones de pesos mexicanos de ventas al año. (Equivale a $ 12 millones de dólares americanos al año).</h5>
            </div>
        </div>
        <div class="row" style="padding-bottom: 5%;">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h3><strong>¿Quiénes son los socios de su empresa?</strong></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <h5>En el portal <a href="https://4adwise.com/new-experience/" target="_blank">https://4adwise.com/new-experience/</a> aparecen los 3 socios fundadores de ésta empresa.</h5>
            </div>
        </div>





    </div>

{% endblock %}
{% block scripts %}
{% endblock %}