{% extends "partials/basic_template.twig" %}
{% block content %}
    <h4>Bienvenid@</h4>
    <p>Gracias por registrase para recibir la servicios expertos de <strong>4Adwise</strong>, dentro de las próximas 24 horas un consultor experto se comunicara con usted.<br>
        No es necesario que responda este correo, simplemente queríamos enviarte un saludo y decirte que muy pronto volverás a recibir noticias nuestras.</p>
    <p>Te garantizamos que las noticias que te enviaremos serán de mucha relevancia para ti. ¡También tendrá la posibilidad de participar en eventos y muchos beneficios que organizaremos para ti!</p>

    ¡Nos vemos pronto!<br>
    El equipo de 4adwise
{% endblock %}
