{% extends "partials/layout.twig" %}

{% block content %}
    <img style="width: 350px;" src="{{ 'images/exelis_logo.svg'|public }}" class="img-rounded -align-center"/>
    <div class="row text-center text-capitalize" style="font-size: 19pt; margin-top: 20px; margin-bottom: 10px;">
        Estamos trabajando en nuestra nueva imagen, contactanos en:
    </div>

    <a href="{{ 'home/index2'|url }}">Portal</a>
{% endblock %}