{% extends "partials/basic_template.twig" %}
{% block content %}
    <h style="color: red">Tu baja se ha tramitado correctamente.</h>
    <p>Desde este momento dejarás de recibir en tu correo nuestras ofertas y noveades</p>

    <p>Queremos darte las gracias por haber compartido todo este tiempo con nosotros y esperamos volver a verte por Exelis</p>

    <pre
    ¡Nos vemos pronto!
    El equipo de Exelis Bussiness Hub
    </pre>

{% endblock %}