{% extends "partials/basic_template.twig" %}
{% block content %}
    <h4>Bienvenid@</h4>
    <p>Gracias por registrate para recibir las novedades de <strong>Exelis Bussiness Hub</strong> por correo
        electrónico. No es necesario que hagas nada al recibir este correo, simplemente queriamos enviarte un saludo y
        decirte que muy pronto volveras a recibir noticias nuestras.</p>
    <p>Te garantizamos que las noticias que te enviaremos serán de mucha relavancia para ti. ¡También tendrás la posibilidad de participar en eventos y muchas cosas que organizaremos para ti!</p>

    ¡Nos vemos pronto!
    El equipo de Exelis Bussiness Hub

    <p style="font-size: 6pt!important;">
        Usted puede dejar de recibir noticias de Excelis dando click en el siguiente enlace:
        <a href="http://exelis.com.mx/home/bajasuscripcion">darme de baja de la suscripción</p>
    </p>
{% endblock %}