{% extends "partials/layout_landingaf.twig" %}
{% block styles %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-1 text-center" style="height: 100%; width: 100%; margin-left: 1.5%; margin-top: 10%; background-color: dimgrey; color: white; border-radius: 10px;">
            <i class="fas fa-home" style="font-size: 32px; padding-top: 12.5%; padding-bottom: 12.5%;"></i><br>
            <i class="fas fas fa-user-cog" style="font-size: 32px; padding-top: 12.5%; padding-bottom: 12.5%;"></i><br>
            <i class="fas fa-people-carry" style="font-size: 32px; padding-top: 12.5%; padding-bottom: 12.5%;"></i><br>
            <i class="far fa-chart-bar" style="font-size: 32px; padding-top: 12.5%; padding-bottom: 12.5%;"></i><br>
            <i class="fas fa-bomb" style="font-size: 32px; padding-top: 12.5%; padding-bottom: 12.5%;"></i><br>
            <i class="far fa-lightbulb" style="font-size: 32px; padding-top: 12.5%; padding-bottom: 12.5%;"></i><br>
        </div>
        <div class="col-11"></div>
    </div>
{% endblock %}