{% extends "partials/layout_landingaf.twig" %}
{% block content %}
    <div style="background-image: url({{ 'images/pymes/logpic.jpg'|public }}); background-size: cover; background-repeat: no-repeat; height: 100% !important;">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8" style="margin-top: 14%; padding-top: 1%; padding-bottom: 1%; margin-bottom: 25%; background-color: #9e9e9e; border-radius: 10px;">
                <form method="post" action="{{ 'home/regba' |url }}">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h3>Registro</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="nombre">Nombre(s)</label>
                            <input type="text" id="nombre" name="nombre" class="form-control">
                            <label class="badge badge-danger" data-key="nombre"></label>
                        </div>
                        <div class="col-4">
                            <label for="apellido">Apellidos</label>
                            <input type="text" id="apellido" name="apellido" class="form-control">
                            <label class="badge badge-danger" data-key="apellido"></label>
                        </div>
                        <div class="col-4">
                            <label for="email">Empresa</label>
                            <input type="text" id="empresa" name="empresa" class="form-control">
                            <label class="badge badge-danger" data-key="empresa"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="email">Correo Electrónico</label>
                            <input type="email" id="email" name="email" class="form-control">
                            <label class="badge badge-danger" data-key="email"></label>
                        </div>
                        <div class="col-4">
                            <label for="telefono">Celular o teléfono</label>
                            <input type="text" id="telefono" name="telefono" class="form-control">
                            <label class="badge badge-danger" data-key="telefono"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right" style="padding-top: 1%;">
                            <a href="{{ 'home/seryprod' |url }}" class="btn btn-light">Volver</a>
                            <button class="btn btn-primary" data-ajax="true">Registrarse</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script>
    </script>
{% endblock %}